<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Land of Spirits</title>
        <link rel="stylesheet" href="assets/css/app.css">
        <link rel="author" href="humans.txt">
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Arvo:400,400italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
        <script type="text/javascript">
        var map;
        var myCenter=new google.maps.LatLng(37.34832, -121.9431121);
        function initialize() {
            var mapOptions = { 
                center: new google.maps.LatLng(37.34832, -121.9431121),
                zoom: 13,
                mapTypeId: google.maps.MapTypeId.ROADMAP
                }
            var marker=new google.maps.Marker({
                position:myCenter,
                title:"Hello World!"
                });

            map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
            //map2 = new google.maps.Map(document.getElementById('map2-canvas'), mapOptions);

            marker.setMap(map);
        }
         google.maps.event.addDomListener(window, 'load', initialize);
        </script>
    </head>
    <body>

    <div class="section-bg">
        <% include partials/navbar.ejs %>
        <div class="los-title">
            Land of Spirits
        </div>
    </div>
    <a name="about"></a>
    <div class="about">
        <h3>About</h3>
        <p>Land of Spirits is a media project about endangered Shor people initiated by a small group of creatives. In the summer of 2013 they made a trip to the Mountainous Shoria, South of Western Siberia, Ust-Anzas village. This traditional settlement is still home to indigenous Shors who fluently speak their native language and keep  with their traditional way of living.</p> 

        <p>The crew spent ten days outside of civilization without running water or electricity. During their visit in mid July, they witnessed the busiest time of the year when locals collect hay. This traditional routine reflected even in Shor language. July in Shor called “pichen” or a month of hay. Crew members spent a day with hay mowers at the sunny slopes of Taz Gol mount. The most revealing part of the trip was taiga exploration. The crew visited Dalny Kezek - a village deep in taiga where life style of its inhabitants have changed little since the 17 century.  As Siberian natives Shors still have animistic beliefs and see spirits as the guardians of their land. Therefore, the major goal of the trip was to collect the stories about taiga and water spirits - "tag ezi" and "sug ezi" which the crew successfully fulfilled.</p>
        
        <p>Today they are happy to share these fascinating stories together with a gallery and trailer with you.</p>
                
    </div>
    
    <a name="crew"></a>
    <div class="section-crew">
        <h3>Crew</h3>

        <% for(var i=0; i<crewPics.length; i++) {%>
            <%if (i==0 || (i+1)%4==0 && (i+1)!=crewPics.length){%>
                <div class="row">
            <%}%>
            <div class="col-md-3">
                <img class="participant center-block img-responsive" src="assets/img/<%=crewPics[i]%>-2x.png" width="200" height="210" alt=""><br>
                <div class="crew-descr">
                    <span><%=crewName[i]%></span>
                    <p><%=crewDesc[i]%></p>
                </div>
            </div>
            <%if ((i+1)%4==0) {%>
                </div>
            <%}%>
        <% } %>

    </div>
    
    
<!--TRAILER-->
    <a name="video"></a>
    <div class="section-trailer">
        <div class="trailer-descr show">
            <img class="img-responsive trailer-img" src="assets/img/video-img-2x.jpg" alt="">
            <span class="section-title">Watch the Trailer</span>
        </div>
        <div class="trailer-vid" id="videoContainer">
        </div>
    </div><!--/section-pic-->    

    <div class="brief-history">
        <h3>Brief History of Shors</h3>
        <span><a href="https://medium.com/@id_z/a-brief-history-of-shors-ee713cb6f673" target="_blank">Read on medium</a></span>
    </div>

    <a name="stories"></a>
    <div class="section-StoryPanel container-fluid">
        <div class="row">
            <%for (var i=0; i<StoryPanelPics.length; i++){%>
                <div class="StoryPanelCol col-md-3" style="background:url('assets/img/bg/<%=StoryPanelBg[i]%>') no-repeat;">
                    <img class="StoryPanelPics circular img-responsive" src="assets/img/circles/<%=StoryPanelPics[i]%>" alt="">
                    <div class="StoryPanel-descr">
                        <span><%=StoryPanelPicsName[i]%></span>
                        <p><%-StoryPanelPicsDesc[i]%></p>
                    </div>
                    <span><a href="story-<%=i+1%>.html" target="_blank">Read More</a></span>
                </div>
            <%}%>
        </div>
    </div>


<!--GALLERY-->
            <a name="gallery"></a>
            <div class="section-gallery">
                <h3>Gallery</h3>
                <a href="gallery.html" target="_blank">Click here to see more pictures</a>  
                <div class="row">
                    <div class="col-md-6">
                        <img src="assets/img/galleryIndex/luba-violet-flowers-2x.png" alt="">
                    </div>
                    <div class="col-md-6">
                        <img src="assets/img/galleryIndex/king-flower-2x.png" alt="">
                    </div>
                </div>
                <div class="center-block">
                    <img class="galleryPic-bigger" src="assets/img/galleryIndex/eldar-2x.png" alt="">
                </div>
                <div class="row" style="margin-top:-30px;">
                    <div class="col-md-6">
                        <img src="assets/img/galleryIndex/fedya-2x.png" alt="">
                    </div>
                    <div class="col-md-6">
                        <img src="assets/img/galleryIndex/happy-dog-2x.png" alt="">
                    </div>
                </div>
            </div>
        
        </div>
        <% include partials/social.ejs %>
<!--THANKS-->

        <a name="thanks"></a>
        <div class="section-thanks">
            <h3>Thanks</h3>
            <p>Our crew says thank you for your interest and support for our project. </p>
            <p>Without you this project would have never been possible.</p>
            <div class="mount">
                <div class="row col-title">
                    <div class="col-md-3">
                        Shor Community
                    </div>
                    <div class="col-md-3">
                        Volunteers &amp; Backers
                    </div>
                    <div class="col-md-3">
                        Extended Team
                    </div>
                    <div class="col-md-3">
                        Participants Of Promo Video
                    </div>
                </div>
                <div class="row" style="background-color:rgba(255,255,255,0.1);padding:30px 0;">
                    <div class="col-md-3" style="margin-bottom:20px;">
                        <img src="assets/fonts/png/icon-dot.png" alt="">
                        <img style="margin:0 10px;" src="assets/fonts/png/icon-flower.png" alt="">
                        <img src="assets/fonts/png/icon-dot.png" alt="">
                    </div>    

                    <div class="col-md-3">
                        <img src="assets/fonts/png/icon-dot.png" alt="">
                        <img style="margin:0 10px;" src="assets/fonts/png/icon-flower.png" alt="">
                        <img src="assets/fonts/png/icon-dot.png" alt="">
                    </div>    
        
                    <div class="col-md-3">
                        <img src="assets/fonts/png/icon-dot.png" alt="">
                        <img style="margin:0 10px;" src="assets/fonts/png/icon-flower.png" alt="">
                        <img src="assets/fonts/png/icon-dot.png" alt="">
                    </div> 
                    <div class="col-md-3">
                        <img src="assets/fonts/png/icon-dot.png" alt="">
                        <img style="margin:0 10px;" src="assets/fonts/png/icon-flower.png" alt="">
                        <img src="assets/fonts/png/icon-dot.png" alt="">
                    </div>    
                </div><!--/.row-->
                
                <div class="row thanks-col">
                    <div class="col-md-3">
                        <ul class="thanks-list list-unstyled">
                            <li>Nadezhda Kydymaeva</li>
                            <li>Lubov Arbachakova</li>
                            <li>Dmitry Zotov</li>
                            <li>Chiltys Tannagasheva</li>
                            <li>Irina Nitkina</li>
                            <li>Evdokiya Topakova</li>
                            <li>Tatiana - a store owner &amp; her family</li> 
                            <li>Beekeeper Feodr &amp; his family</li> 
                            <li>Gennady Sysoev</li>
                            <li>Larisa Ermakova</li>
                            <li>Vasily Elesin</li>
                        </ul> 
                    </div>    

                    <div class="col-md-3">
                        <ul class="thanks-list list-unstyled">
                            <li>Vitaly Miheev</li>
                            <li>Mariya Lisina</li>
                            <li>Kristina Yatsenko</li>
                            <li>Lubov Tselovalnikova</li>
                            <li>Evgenia Teppoeva</li>
                            <li>Evgenia Chumakova</li>
                            <li>Renata Mironova</li> 
                            <li>Richard Eidman</li>
                            <li>William Melony &amp; WCNU Radio</li>
                            <li>Evan Niner</li>
                            <li>Mike Illis</li>
                            <li>Evan Adamek</li>
                            <li>Alexandra Tsirkel</li>
                            <li>Elena Kiskorova</li>
                            <li>Anna Hodgekinson</li>
                            <li>Nikolay &amp; Olga Bogatyrev</li>
                            <li>Lara &amp; Garcia families</li>
                            <li>Semenov &amp; Kuznetsov extended families</li>
                        </ul>  
                    </div>    
        
                    <div class="col-md-3">
                        <ul class="thanks-list list-unstyled"> 
                            <li>Maria Sudarova</li>
                            <li>Aleks Klepnev</li>
                            <li>Alexander Komarov</li>
                            <li>Anastasia Romanchuka</li>
                            <li>Emma Baker</li>
                            <li>Zhoro Zhekov</li>
                            <li>Adonis Fuyana</li>
                            <li>Ian Clarke</li> 
                            <li>Daniel Macfarlane</li>
                            <li>Aleksis Still</li>
                        </ul>  
                    </div>
                     <div class="col-md-3">
                        <ul class="thanks-list list-unstyled">

                            <li>Brianne Madrell</li>
                            <li>Daya Dodds</li>
                            <li>Lianne Law</li>
                            <li>Geoff Willis</li>
                            <li>Shuo Zhang</li>
                            <li>Megan Hutton</li>
                            <li>Lilian Jia</li>
                            <li>Chyntia Fabella Panggabean</li>
                            <li>Ahmet Ozfitci</li>
                            <li>Elena Rubio-Hall</li>
                            <li>Hiren Vyas</li>
                            <li>Ranjana Easwar</li>
                            <li>Antoine E. Saade</li>
                            <li>Daffy Hristova</li>
                            <li>Satoru &amp; Aya Watanabe</li>
                            <li>Greg Tomaszewicz</li>
                            <li>Katucky Outing</li>
                            <li>Clara Pampolini</li>
                          
                        </ul>  
                    </div>     
                </div><!--/.row-->
            </div>
        </div>


        <% include partials/footer.ejs %>
   

        <script src="assets/js/app.min.js"></script>
    </body>
</html>
