<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Land of Spirits</title>
        <link rel="stylesheet" href="assets/css/app.css">
        <link rel="author" href="humans.txt">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    </head>
    <body>

    <div class="section-bg">
        <% include partials/navbar.ejs %>
        <span class="los-title">
            Land of Spirits
        </span>
        <div class="fade-bg"></div>
    </div>

    <div class="section-crew">

        <% for(var i=0; i<crewPics.length; i++) {%>
            <%if (i==0 || (i+1)%4==0 && (i+1)!=crewPics.length){%>
                <div class="row">
            <%}%>
            <div class="col-md-3">
                <img class="participant center-block img-responsive" src="assets/img/<%=crewPics[i]%>.png" width="200" height="210" alt=""><br>
                <div class="crew-descr">
                    <span><%=crewName[i]%></span>
                    <p><%=crewDesc[i]%></p>
                </div>
            </div>
            <%if ((i+1)%4==0) {%>
                </div>
            <%}%>
        <% } %>

    </div>
        

    <div class="section-StoryPanel container-fluid">
        <div class="row">
            <%for (var i=0; i<StoryPanelPics.length; i++){%>
                <div class="StoryPanelCol col-md-3" style="background:url('assets/img/bg/<%=StoryPanelBg[i]%>') no-repeat;">
                    <img class="StoryPanelPics circular img-responsive" src="assets/img/circles/<%=StoryPanelPics[i]%>" alt="">
                    <div class="StoryPanel-descr">
                        <span><%=StoryPanelPicsName[i]%></span>
                        <p><%=StoryPanelPicsDesc[i]%></p>
                    </div>
                    <a href="#" class="StoryPanelButton btn btn-default"> Find Out More</a>
                </div>
            <%}%>
        </div>
    </div>


<!--MAIN-->  
        <a name="home"></a>
            <div class="main-bg">
                <div class="row">
                  <div class="col-md-12">
                      <span class="title center-block">Land Of Spirits</span>
                  </div>
              </div>  
            </div>
                
            

<!--PARTICIPANTS-->   

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="story-about center-block">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </div>
            
        
<!--MAP--> 
       
            <div class="row">
                <div class="col-md-12">
                    <img class="map" src="#" alt="" width="400" height="400">
                </div>
            </div><!--/.row-->
        </div><!--/.container-->
            
       
<!--TRAILER-->       

        <div class="section-pic section-trailer">
            <div class="section-container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title trailer-position center-block">Trailer</div>
                        <iframe class="embed-responsive-item embed-video center-block" width="1120" height="630" src="https://www.youtube.com/embed/vuOCLh3yFGM" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div><!--/.row-->
            </div><!--/.section-container-->
        </div><!--/section-pic-->   

<!--CHOOSE LANGUAGE--> 

        <div class="section-pic section-language">        
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title center-block">Please select your language</div>
                </div>
            </div><!--/.row-->
            <div class="row">    
                <div class="col-md-6">
                    <div class="btn btn-language">English</div>
                </div>    
                 <div class="col-md-6">
                    <div class="btn btn-language">Русский</div>
                </div>
            </div><!--/.row-->
        </div><!--/section-pic-->

<!--INTRO-->        

        <div class="section-pic section-pic-intro">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title center-block">Shors: Who Are They?</div>
                    </div>    
                </div><!--/.row-->

                <div class="row">
                    <div class="col-md-12">
                       <p class="story-descr story-attr">creative non-fiction stories inspired by land and people of Shoria</p>
                    </div>    
                </div><!--/.row-->

                <div class="row">
                    <div class="col-md-12 col-md-offset-5">

                      <a class="btn btn-medium" target="_blank" href="https://medium.com/@id_z/d3477e081543">Read On Medium</a>
                       
                    </div>
                </div><!--/.row-->
        </div><!--/section-pic-->

<!--1ST STORY-->    

         <div class="section-pic section-pic-1">

            <div class="row">
                <div class="col-md-12">
                    <div class="section-title center-block">Shor King</div>
                </div>    
            </div><!--/.row-->

            <div class="row">
                <div class="col-md-12">
                   <p class="story-descr story-attr">how we went to the end of the world and met a Shor King</p>
                </div>    
            </div><!--/.row-->

            <div class="row">
                <div class="col-md-12 col-md-offset-5">

                    <a class="btn btn-medium" target="_blank" href="https://medium.com/@id_z/d3477e081543">Read On Medium</a>
                       
                </div>
            </div><!--/.row-->

        </div><!--/section-pic-->
        

<!--2ND STORY-->          

        <div class="section-pic section-pic-2">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title center-block">Ust-Anzas</div>
                </div>    
            </div><!--/.row-->

            <div class="row">
                <div class="col-md-12">
                   <p class="story-descr story-attr">How the crew spent a first night in the Ust Anzas village and met the best hay makers of the region</p>
                </div>    
            </div><!--/.row-->

            <div class="row">
                <div class="col-md-12 col-md-offset-5">
                    <a class="btn btn-medium" target="_blank" href="https://medium.com/@id_z/d3477e081543">Read On Medium</a>       
                </div>
            </div><!--/.row-->

        </div><!--/section-pic->

<!--3RD SRORY-->  

         <div class="section-pic section-pic-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title center-block">Taiga Exploration</div>
                </div>    
            </div><!--/.row-->

            <div class="row">
                <div class="col-md-12">
                   <p class="story-descr story attr">how we went to the remote village, Dalny Kezek, where nothing has changed since 18 century.</p>
                </div>    
            </div><!--/.row-->

            <div class="row">

                <div class="col-md-12 col-md-offset-5">

                    <a class="btn btn-medium" target="_blank" href="https://medium.com/@id_z/d3477e081543">Read On Medium</a>
                       
                </div>

            </div><!--/.row-->

        </div><!--/section-pic-->

<!--4TH STORY-->  
        
        <div class="section-pic section-pic-4">

            <div class="row">
                <div class="col-md-12">
                    <div class="section-title center-block">Bread Day</div>
                </div>    
            </div><!--/.row-->

            <div class="row">
                <div class="col-md-12">
                   <p class="story-descr story attr">meet with us a brave Shor grandma Zoya and let's ride with her to the nearest store</p>
                </div>    
            </div><!--/.row-->

            <div class="row">
                <div class="col-md-12 col-md-offset-5">

                    <a class="btn btn-medium" target="_blank" href="https://medium.com/@id_z/d3477e081543">Read On Medium</a>
                       
                </div>
            </div><!--/.row-->

        </div><!--/section-pic-->

<!--5TH STORY-->   

        <div class="section-pic section-pic-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title center-block">Enchanted Mountain, Mermaid and Other Mysteries</div>
                </div>    
            </div><!--/.row-->

            <div class="row">
                <div class="col-md-12">
                   <p class="story-descr story attr">How we investigated Shor spirits</p>
                </div>    
            </div><!--/.row-->

            <div class="row">
                <div class="col-md-12 col-md-offset-5">

                    <a class="btn btn-medium" target="_blank" href="https://medium.com/@id_z/d3477e081543">Read On Medium</a>
                       
                </div>
            </div><!--/.row-->
<!--6TH STORY-->  
        </div><!--/section-pic-->

        <div class="section-pic section-pic-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title center-block">The Return</div>
                </div>    
            </div><!--/.row-->

            <div class="row">
                <div class="col-md-12">
                   <p class="story-descr story attr">how we got back to civilization and what we learned</p>
                </div>    
            </div><!--/.row-->

            <div class="row">
                <div class="col-md-12 col-md-offset-5">

                    <a class="btn btn-medium" target="_blank" href="https://medium.com/@id_z/d3477e081543">Read On Medium</a>
                       
                </div>
            </div><!--/.row-->

        </div><!--/section-pic-->

<!--GALLERY-->

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="section-title section-gallery center-block">Gallery</span>
                </div>
            </div><!--/.row-->

            <div class="row">
                  <div class="col-md-12">
                    <a class="gallery-link center-block" href="#">Click here to see more pictures</a>  
                  </div>
            </div><!--/.row-->

            <div class="row">
                <div class="col-md-6">
                    <img src="#" alt="img-1">
                    <img src="#" alt="img-2">  
                </div>
                <div class="col-md-6">
                    <img src="#" alt="img-3">
                    <img src="#" alt="img-4">  
                </div>
            </div><!--/.row-->  

            <div class="row">
                  <div class="col-md-12">
                    <img src="#" alt="img-center">
                  </div>
            </div><!--/.row-->

            <div class="row">
                <div class="col-md-6">
                    <img src="#" alt="img-5"> 
                </div>
                <div class="col-md-6">
                    <img src="#" alt="img-6"> 
                </div>
            </div><!--/.row-->
        

<!--THANKS-->

        <div class="section-pic">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title section-thanks center-block">Thanks</div>
                </div>    
            </div><!--/.row-->

            <div class="row">
                <div class="col-md-12">
                   <p class="thanks-descr center-block">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>    
            </div><!--/.row--> 

            <div class="row">
                <div class="col-md-3">
                    <i class="icon-thanks">Icon</i>
                </div>    

                <div class="col-md-3">
                   <i class="icon-thanks">Icon</i>
                </div>    
    
                <div class="col-md-3">
                   <i class="icon-thanks">Icon</i> 
                </div> 
                <div class="col-md-3">
                   <i class="icon-thanks">Icon</i> 
                </div>    
            </div><!--/.row-->
            
            <div class="row">
                <div class="col-md-3">
                    <p class="col-title">Shor Community</p>
                    <ul class="thanks-list list-unstyled">
                        <li>Nadezhda Kydymaeva</li>
                        <li>Lubov Arbachakova</li>
                        <li>Dmitry Zotov</li>
                        <li>Chiltys Tannagasheva</li>
                        <li>Irina Nitkina</li>
                        <li>Grigory</li>
                        <li>Evdokiya Topakova</li>
                        <li>Tatiana (daughter) &amp; family</li> 
                        <li>Svetlana (Hakassia)</li>
                        <li>Feodr and his family(bee man) &amp; family</li> 
                        <li>Gennady Sysoev (driver)</li>
                        <li>Larisa Ermakova</li>
                    </ul> 
                </div>    

                <div class="col-md-3">
                    <p class="col-title">Volunteers &amp; Backers</p>
                    <ul class="thanks-list list-unstyled">
                        <li>Vitaly Miheev</li>
                        <li>Mariya Lisina</li>
                        <li>Kristina Yatsenko</li>
                        <li>Lubov Tselovalnikova</li>
                        <li>Evgenia Teppoeva</li>
                        <li>Evgenia Chumakova</li>
                        <li>Renata Mironova</li> 
                        <li>Richard Eidman</li>
                        <li>William Melony &amp; WCNU Radio</li>
                        <li>Evan Niner</li>
                        <li>Mike Illis</li>
                        <li>Evan Adamek</li>
                        <li>Alexandra Tsirkel</li>
                        <li>Elena Kiskorova</li>
                        <li>Anna Hodgekinson</li>
                    </ul>  
                </div>    
    
                <div class="col-md-3">
                    <p class="col-title">Extended Team</p>
                    <ul class="thanks-list list-unstyled"> 
                        <li>Maria Sudarova</li>
                        <li>Aleks Klepnev</li>
                        <li>Alexander Komarov</li>
                        <li>Anastasia Romanchuka</li>
                        <li>Emma Baker</li>
                        <li>Zhoro Zhekov</li>
                        <li>Adonis Fuyana</li>
                        <li>Ian Clarke</li> 
                        <li>Daniel Macfarlane</li>
                        <li>Aleksis Still</li>
                    </ul>  
                </div>
                 <div class="col-md-3">
                    <p class="col-title">Participants Of Promo Video</p>
                    <ul class="thanks-list list-unstyled">

                        <li>Brianne Madrell</li>
                        <li>Daya Dodds</li>
                        <li>Lianne Law</li>
                        <li>Geoff Willis</li>
                        <li>Shuo Zhang</li>
                        <li>Megan Hutton</li>
                        <li>Lilian Jia</li>
                        <li>Chyntia Fabella Panggabean</li>
                        <li>Ahmet Ozfitci</li>
                        <li>Elena Rubio-Hall</li>
                        <li>Hiren Vyas</li>
                        <li>Ranjana Easwar</li>
                        <li>Antoine E. Saade</li>
                        <li>Daffy Hristova</li>
                        <li>Satoru &amp; Aya Watanabe</li>
                        <li>Greg Tomaszewicz</li>
                        <li>Katucky Outing</li>
                        <li>Clara Pampolini</li>
                      
                    </ul>  
                    <a href="https://youtu.be/vuOCLh3yFGM" class="save-shor-link">watch the video</a>
                </div>     
            </div><!--/.row-->

            
            <div class="row">
                <div class="col-md-12">
                   <img src="#" alt="">
                </div>    
            </div><!--/.row-->

            <div class="row">
                <div class="col-md-6">
                   <img src="#" alt="">
                </div>    
            </div><!--/.row-->

            <div class="row">
                <div class="col-md-6">
                   <i class="social-media">FB</i>
                   <i class="social-media">VK</i>
                   <i class="social-media">Twitter</i>
                </div>
                <div class="col-md-6">
                    <img src="../assets/img/mount.jpg" alt="">
                   <span class="copyright">SoulRise Production (c) 2015</span>
                </div>    
            </div><!--/.row-->
        </div><!--/.container-->
   

        <script src="assets/js/app.min.js"></script>
    </body>
</html>


















